.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.btn{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  margin: 0 auto;
  font-size: large;
  border-radius: 10px;
}

.fields {
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}